<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cari Restaurant Favoritmu Disini">
        <link rel="icon" href="./favicon.png">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
        <link rel="manifest" href="./app.webmanifest">
        <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
        <meta name="theme-color" content="#f39c12"/>
        <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
        <title>RESTOKU APPS - Cari Restaurant Favoritmu Disini</title>
      </head>
<body>
    <a href="#mainContent" class="skip-to-content">Skip to content ?</a>
    <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>RESTOKU</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="#/favorite">FAVORITE</a></li>
        <li><a href="https://www.linkedin.com/in/kiki-mulyadi-1b1976213/">ABOUT</a></li>
      </ul>
    </nav>
    <div id="splash-screen">
      <img src="./favicon.png" alt="Logo" id="splash-logo">
  </div>
  </header>
  <main> 
  <div tabindex="0" id="mainContent" class="mainContent"></div>
  </main>
  <footer>
    <p>Copyright © 2024 <a tabindex="0" href="/" target="_blank" rel="noreferrer">Restoku</a></p>
  </footer>
</body>
</html>